{
  "$schema": "http://inqlude.org/schema/release-manifest-v1#",
  "name": "kconfig",
  "display_name": "KConfig",
  "release_date": "2019-02-09",
  "version": "5.55.0",
  "summary": "Configuration system",
  "topics": [
    "Development"
  ],
  "urls": {
    "homepage": "http://api.kde.org/frameworks-api/frameworks5-apidocs/kconfig/html/index.html",
    "download": "http://download.kde.org/stable/frameworks/5.55/",
    "vcs": "https://projects.kde.org/projects/frameworks/kconfig/repository",
    "mailing_list": "https://mail.kde.org/mailman/listinfo/kde-frameworks-devel"
  },
  "licenses": [
    "LGPLv2.1+"
  ],
  "description": "\nKConfig provides an advanced configuration system. It is made of two parts:\nKConfigCore and KConfigGui.\n\nKConfigCore provides access to the configuration files themselves. It features:\n\n- Code generation: describe your configuration in an XML file, and use\n  `kconfig_compiler to generate classes that read and write configuration\n  entries.\n- Cascading configuration files (global settings overridden by local settings).\n- Optional shell expansion support (see [docs/options.md](@ref options)).\n- The ability to lock down configuration options (see\n  [docs/options.md](@ref options)).\n\nKConfigGui provides a way to hook widgets to the configuration so that they are\nautomatically initialized from the configuration and automatically propagate\ntheir changes to their respective configuration files.\n\n",
  "authors": [
    "The KDE Community"
  ],
  "maturity": "stable",
  "platforms": [
    "Linux"
  ],
  "packages": {
    "source": "http://download.kde.org/stable/frameworks/5.55/kconfig-5.55.0.tar.xz"
  },
  "group": "kde-frameworks"
}